.contact_us_section_container{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    background: var(--section-bg-gray);
    margin: 3rem 0 0 0;
}


.contact_us_img { 
    background-image: url('../images/contact-us-full.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-clip-path: none;
    clip-path: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    font-size: 1em;
}

.overlay { 
    position: absolute;
    width: 100%;
    min-height: 50vh;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
}

.contact_us_img .contact_us_title {
    z-index: 10;
    font-weight: bold;
    font-size: 3.5em;
}   

.contact_us_img .contact_us_subtitle {
    z-index: 10;
    font-weight: bold;
}   

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 2em 0;
    row-gap: 2.5em;
    max-width: 20rem;
}

::placeholder {
    visibility: hidden;
}

form .form_title  {
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

form .input_container  {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}


form .input_container input {
    max-width: 100%;
    border: none;
    border-bottom: 1.5px solid #8f95a0;
    background: transparent;
}

form .input_container input:not(:placeholder-shown):focus:invalid {
    border-color: red;
}

form .input_container input:not(:placeholder-shown):focus:valid {
    border-color:  #10B981;
}

form .input_container input:not(:placeholder-shown):invalid {
    border-color: red;
}

form .input_container input:not(:placeholder-shown):valid {
    border-color:  #10B981;
}



form .input_container input:focus {
    outline: none;
}

form .input_container input:placeholder-shown + label span {
    position: absolute;
    bottom: 30%;
}

form .input_container input:not(:placeholder-shown) + label span {
    position: absolute;
    bottom: 120%;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
    color: black;
    transition: 300ms all ease;
}

form .input_container input:focus + label span {
    bottom: 120%;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
    color: black;
    transition: 300ms all ease;
}

form .input_container input:not(focus) + label span {
    transition: all 300ms ease;
}


form .select_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    column-gap: 2em;
}

form .select_container select { 
    width: fit-content;
}

form .select_container select:focus { 
    outline: none;
}

form button { 
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 0.5em;
    border: none;
}

form button:hover { 
    background-color: rgba(0, 0, 0, .7);
}

@media screen and (min-width: 768px) {
    .contact_us_img { 
        min-height: 60vh
    }

    .overlay { 
        min-height: 60vh;
    }
}

@media screen and (min-width: 1024px) {
    .contact_us_section_container {
        flex-direction: row;
    }
    .contact_us_img {
        -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);
        width: 60%;
    }

    .overlay { 
        height: 100%;
    }
}

@media screen and (min-width: 1440px) {
    form { 
        max-width: 25rem;
    }

    form .input_container input {
        width: 30em
    }
}